<!DOCTYPE html>

<html>
	<head>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		
		<script type="text/javascript" charset="utf-8">
		    function get_out(){
		    	location.href="{{url_for('lunchbreak.home')}}"
		    }
		</script>
		<script src="{{url_for('test_pong.static', filename='libraries/p5.min.js')}}"></script>
		<script src="{{url_for('test_pong.static', filename='js/paddle.js')}}"></script>
		<script src="{{url_for('test_pong.static', filename='js/ball.js')}}"></script>
		<script src="{{url_for('test_pong.static', filename='js/event_library.js') }}"></script>
		<script src="{{url_for('test_pong.static', filename='js/sketch.js')}}"></script>
	</head>

	<body>
		<script>
			function submit_chat(){
				your_sock.emit('send_chat', {'chat': document.getElementById('chat').value});
				document.getElementById('chat').value = '';
			}

		</script>
		<div id="sketch-holder">
		</div>
		<p>Chat Area</p>

		<div>
			<button onclick="submit_chat();" id="chat_button">Submit</button>
			<input type="text" id="chat" name="chat">
			<p id='chatbox'></p>
		</div>
	</body>
</html>