{% extends 'base_nickdima.html' %}

<!--if the user is logged in, show a new create button-->
{% block header %}
  <h1>{% block title %}Homepage{% endblock %}</h1>
{% endblock %}

<!-- Loop through all blog posts and render them to screen -->
<!-- posts list is available because we passed posts=posts argument in the render_template-->
<!-- potentially pass all posts to this template so you can see everyone's posts-->
{% block content %}
  <h1>Who am I?</h1>
  <h3><a href="https://www.youtube.com/watch?v=A6FPyHiPUto" target="_blank">A Salsa Dancer</a></h3>
  <hr>
  <p>Hello {{ g.user['username'] }}!</p>

{% endblock %}