<!DOCTYPE html>
<html>
    
    
    <head>
        <title>Lunch Break Arcade</title>
        <meta property="og:site_name" content="Lunch Break Arcade">
        <meta property="og:title" content="Lunch Break Arcade">
        <meta property="og:description" content="A directory of free online games created by Nick Dima with javascript">
        <meta property="og:url" content="https://www.nickdima.com/lunchbreak">
        <meta property="og:type" content="games">
        <meta property="og:image" content="{{ url_for('static', filename='lunchbreak/assets/website_thumbnail.png') }}">
    </head>
    
    
    <body>
        <h1>Lunch Break Arcade</h1>
        <h2>Got a minute?</h2>
        <h4>
            Created by <a href="https://www.linkedin.com/in/nicholas-dima-975070115/">Nick</a>
        </h4>
        
        <hr>
        
        <h2>Check back often for more games and updates to existing games!</h2>
        
        <!-- If you don't have "https://" in the href=() it will just add the href=() to the current url example.com/lunchbreak/[href] -->
        <figure role="group">
            <figcaption>Finished Games</figcaption>

            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/snake_js">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/snake_capture.png') }}" alt="Snake Screenshot">
                    <figcaption>Snake: Eat food to grow bigger!</figcaption>
                </a>
            </figure>

            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/minesweeper_js">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/minesweeper_capture.png') }}" alt="Minesweeper Screenshot">
                    <figcaption>Minesweeper: Don't click on a bomb!</figcaption>
                </a>
            </figure>
            
            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/asteroids_js">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/asteroids_capture.png') }}" alt="Asteroids Screenshot">
                    <figcaption>Asteroids: Destroy all the asteroids!</figcaption>
                </a>
            </figure>
            
            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/neuro_flappybird_js/">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/neuro_flappybird.png') }}" alt="Flappy Bird Screenshot">
                    <figcaption>Neuro-Evolutionary Flappy Bird: Teach your computer to play flappy bird!</figcaption>
                </a>
            </figure>
            
            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/jungle_run_js/">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/jungle_run_capture2.png') }}" alt="Jungle Run Screenshot">
                    <figcaption>Jump and dodge as you make your way through the procedurally generated forrest!</figcaption>
                </a>
            </figure>
            
            <figure>
                <a href="{{ url_for('lunchbreak.tetris') }}>
                    <img src="{{ url_for('static', filename='lunchbreak/assets/tetris_capture.png') }}" alt="Classic Tetris!">
                    <figcaption>Clear rows as fast as you can!</figcaption>
                </a>
            </figure>
            
        </figure>
        
        
        <figure role="group">
            <figcaption>Games In Development</figcaption>
            
            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/towerdefense_js">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/towerdefense_capture.png') }}" alt="Towerdefense Screenshot">
                    <figcaption>Tower Defense: Protect your tower!</figcaption>
                </a>
            </figure>
            
            <figure>
                <a href="https://www.nickdima.com/static/lunchbreak/assets/highway_chase_js">
                    <img src="{{ url_for('static', filename='lunchbreak/assets/highway_capture.png') }}" alt="Highway Chase Screenshot">
                    <figcaption>Chase Your Enemies Through 2 Intense Levels!</figcaption>
                </a>
            </figure>
        </figure>
        
        
    </body>

</html>