<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script src="{{url_for('Stay_alive.static', filename='libraries/p5.min.js')}}"></script>
		<script src="{{url_for('Stay_alive.static', filename='js/event_library.js') }}"></script>
		<script src="{{url_for('Stay_alive.static', filename='js/sketch.js')}}"></script>
		<script>
			window.addEventListener('keydown', function(e){

				if([37, 39, 38, 40].indexOf(e.keyCode) > -1){
					e.preventDefault(); //stops arrow keys from scrolling
				}
			}, false);
		</script>

		<style>
			.visual-container{
				display: flex;
			}
			.game-HUD{
				flex-grow: 1;
			}
		</style>

	</head>

	<body>
	    <form action="http://www.nickdima.com/lunchbreak">
	        <input type="submit" value="Homepage">
	    </form>
	    <hr>

	    <div class="visual-container">
			<div id="sketch-holder">
			</div>
			<div class="game-HUD">
				<p id="status">Status: Outside</p>
				<br>
				<p>Resources --------------</p>
				<p id="water">Water: 0</p>
				<p id="wood">Wood: 0</p>
				<p id="brick">Bricks: 0</p>
				<p id="steal">Steal: 0</p>
				<br>
				<p>Inventory --------------</p>
				<p id="ammo">Ammo: 0</p>
				<p id="gun">Gun: None,</p>
				<p id="tool">Tool: Hands,</p>
				<br>
				<p>Building ----------------</p>
				<div>
					<select id="build_menu" onchange="console.log('changed building');">
					  <option value="Wall - Wood">Wall - Wood</option>
					  <option value="Wall - Brick">Wall - Brick</option>
					  <option value="Wall - Iron">Wall - Iron</option>
					  <option value="Door - Wood">Door - Wood</option>
					  <option value="Turret">Turret</option>
					  <option value="Tool - Wood">Tool - Wood</option>
					  <option value="Tool - Iron">Tool - Iron</option>
					  <option value="Ammo - Iron">Ammo - Iron</option>
					  <option value="Gun - Iron">Gun - Iron</option>
					</select>
				</div>
				<div>
					<select id="rotation_menu" onchange="console.log('changed rotation');">
					  <option value="0">0</option>
					  <option value="90">90</option>
					</select>
				</div>
				<br>
				<p>Equipped -------------- </p>
				<div>
					<select id="equipped_menu" onchange="console.log('changed equipped');">
					  <option value="Hands">Hands</option>
					</select>
				</div>
			</div>
		</div>


	</body>
</html>