<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v4.8.1, https://mobirise.com -->
  {% include 'universal.html' %}
  <meta name="description" content="A menu of the food at Thai Charlottesville">
  <title>Menu</title>

  {% include 'universal-css-links.html' %}



</head>

<body>
<!--Navigation bar-->
{% include 'nav.html' %}
<!--End navigation bar-->

<!--Variable on this page is a dictionary "selected_item"-->



<!--GRAY SECTION ON TOP OF PAGE-->
<section class="features16 cid-r0R1Wm1xUa" id="features16-i">
  <style>
  img {
    transition: transform 0.25s ease;
  }
  img:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
  }

  </style>

    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            Customization Page
        </h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
        	Edit your food below!
        </h3>

        <div class="row media-row">

              <div class="container align-center">
            <div class="media-container-row">
                <!--NEED ONE OF THESE FOR EVERY IN DEVELOPMENT GAME pong-->
                <div class="card p-3 col-12 col-md-6">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <img src="{{ url_for('food.static', filename=selected_item['Img_URL']) }}" alt="pong">
                        </div>
                        <div class="card-box"> <!--food box entity-->
                          <div class="item-name px-2">
                              <p class="mbr-fonts-style display-5">
                                 {{selected_item['Base']}}
                             </p>
                          </div>
                          <div class="item-role px-2">
                              <p class="mbr-fonts-style display-5">Description: {{ selected_item['Description'] }}</p>
                          </div>
                          <div class="item-role px-2">
                              <p class="mbr-text mbr-fonts-style display-5">
                              {% for ingredient in selected_item['Ingredients'] %}
                                {{ingredient}}{% if not loop.last %},{% endif %}
                              {% endfor %}
                              </p>
                          </div>
                          <div class="item-role px-2">
                              <p class="mbr-fonts-style display-5" id="the_price">Price: {{ selected_item['Base Price'] }}</p>
                          </div>

                          <!--Price Updater Script-->
                          <script>
                            function parseExtraPrice(val){
                              let price = val.slice(val.indexOf('$') + 1, val.length);
                              return parseInt(price, 10);
                            }

                            function changePrice(){
                              //Check IDs 'topping' 'extra' 'extra_rice'
                              let base_price = {{ selected_item['Base Price'] }};
                              let topping = parseExtraPrice(document.getElementById('topping').value);
                              let extra = parseExtraPrice(document.getElementById('extra').value);
                              let extra_rice = parseExtraPrice(document.getElementById('extra_rice').value);

                              let cur_price = document.getElementById('the_price');

                              let additional = topping + extra + (extra_rice * 2);
                              console.log('add' + additional);
                              cur_price.innerText = parseInt(base_price, 10) + additional;
                            }
                          </script>
                          <!--End price updater-->

                          <!--customization starts here-->
                          <div class="item-role px-2">
                              <form action="" method="POST" class="mbr-fonts-style display-6">


                                {% if selected_item['Spice'] != False %}
                                <!--Spice option-->
                                Spice Level <select name="spice" id="spice">

                                  {% for spice_level in selected_item['Spice'] %}
                                  <option value="{{ spice_level }}">{{ spice_level }}</option>
                                  {% endfor %}
                                </select>
                                <br><br>
                                {% endif %}

                                {% if selected_item['Toppings'] != False %}
                                <!--Topping option-->
                                <!--Itemname, Extra Price-->
                                <!-- Display "Chicken +$2" if extra price"-->
                                With <select name="topping" id="topping" onchange="changePrice();">
                                  {% for topping in selected_item['Toppings'] %}
                                  <option value="{{ topping[0] }}">{{ topping[0] }}{% if topping[1] != 0 %} +${{ topping[1] }}{% endif %}</option>
                                  {% endfor %}
                                </select>
                                <br><br>
                                {% endif %}


                                {% if selected_item['Extra'] != False %}
                                <!--Topping option-->
                                <!--Itemname, Extra Price-->
                                <!-- Display "Chicken +$2" if extra price"-->
                                Extra <select name="extra" id="extra" onchange="changePrice();">
                                  {% for extra in selected_item['Extra'] %}
                                  <option value="{{ extra[0] }}">{{ extra[0] }}{% if extra[1] != 0 %} +${{ extra[1] }}{% endif %}</option>
                                  {% endfor %}
                                </select>
                                <br><br>

                                And <input type="number" id="extra_rice" name="extra_rice" min="0" max="5" step="1" value="0" onchange="changePrice();"> Extra Rice ($2 each)
                                <br><br>
                                {% endif %}

                                <textarea name="custom_modify" rows="5" cols="20" placeholder="Exclusions, notes, etc."></textarea>
                              </form>
                          </div>

                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/test_pong/test_pong_game" class="btn btn-primary display-4">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    </div>


    	</div>
</div>
<!--END GRAY SECTION-->


<!--White section on bottom of page with buttons-->
<section class="mbr-section form3 cid-r0R3r9oDVn" id="form3-j">





    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    Order Details</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Items: &lt;&gt;<br>Total Price: &lt;&gt;</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">the order page was submitted</div>
                <form class="mbr-form" action="{{ url_for('checkout.summary') }}" method="post" data-form-title="Mobirise Form"><!--<input type="hidden" name="email" data-form-email="true" value="705DbCTbf81Lwv4tQcqg+WZp2p4fzU7WHcXa1wmByg5evmxi+pH7k7f2OsFKHR79s/ck1GlFHoIouzX+ahXvnMeeXLzNJgAdQjdBTY0quIlRUSsDHuX5jAYZ7l3UDPOu" data-form-field="Email">-->
                    <!--<div class="mbr-subscribe input-group"> HAVING THIS MADE THE BUTTON NOT CENTER-->
                        <!--<input class="form-control" type="email" name="email" placeholder="Name" data-form-field="Email" required="" id="email-form3-j">-->
                        <input type="hidden" name="item1" value="thai currey">
                        <input type="hidden" name="item2" value="thai tea">
                        <div class="mbr-section-btn text-center">
                            <button href="" class="btn btn-primary display-4">
                                Checkout
                            </button>
                        </div>
                        <!--<span class="input-group-btn"><button href="" type="submit" class="btn btn-primary display-4">Checkout</button></span>-->

                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
</section>
<!--End button section on the bottom-->


{% include 'universal-bottom.html' %}

  <script src="{{ url_for('checkout.static', filename='assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/tether/tether.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/smoothscroll/smooth-scroll.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/theme/js/script.js') }}"></script>
  <!--THIS HANDLES FORM SUBMISSION<script src="{{ url_for('checkout.static', filename='assets/formoid/formoid.min.js') }}"></script>-->


</body>

</html>