<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.8.1, https://mobirise.com -->
    {% include 'universal.html' %}
    <meta name="description" content="A menu of the food at Thai Charlottesville">
    <title>Customization</title>

    {% include 'universal-css-links.html' %}
</head>

<body>
    <!--Navigation bar-->
    {% include 'nav.html' %}
    <!--End navigation bar-->

    <!--GRAY SECTION ON TOP OF PAGE-->
    <section class="features16 cid-r0R1Wm1xUa" id="features16-i">

        <div class="container align-center">
            <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
                {{selected_item['Base']}}
            </h2>
            <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
                Edit your food below!
            </h3>
            <div class="row media-row">
                <div class="container align-center">
                    <div class="media-container-row">
                        <!--NEED ONE OF THESE FOR EVERY IN DEVELOPMENT GAME pong-->
                        <div class="card p-3 col-12 col-md-6">
                            <div class="card-wrapper">

                                <div class="card-img">
                                    <img src="{{ url_for('food.static', filename=selected_item['Img_URL']) }}" alt="pong">
                                </div>
                                <div class="card-box">
                                    <!--food box entity-->
                                    {% if selected_item['Description'] != false %}
                                    <div class="item-role px-2">
                                        <p class="mbr-fonts-style display-5">Description: {{ selected_item['Description'] }}</p>
                                    </div>
                                    {% endif %}
                                    {% if selected_item['Ingredients'] != false %}
                                    <div class="item-role px-2">
                                        <p class="mbr-text mbr-fonts-style display-5">
                                            {% for ingredient in selected_item['Ingredients'] %}
                                            {{ingredient}}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    {% endif %}
                                    <div class="item-role px-2">
                                        <p class="mbr-fonts-style display-5" id="the_price">Price: {% if portion == 'dinner' %}{{ selected_item['Base Price'] }}{% else %}{{ selected_item['Lunch_Version']['Base Price'] }}{% endif %}</p>
                                    </div>

                                    <!--Price Updater Script-->
                                    <script>

                                        function parseExtraPrice(val) {
                                            //Parse the value by first looking for the $
                                            if (val.indexOf('$') != -1) {
                                                let price = val.slice(val.indexOf('$') + 1, val.length);
                                                return parseInt(price, 10);
                                            }
                                            return 0;
                                        }

                                        function ensure_2_decimals(price_string){
                                            console.log(price_string, typeof(price_string));
                                            price_string = price_string.toString();

                                            let dot_index = price_string.indexOf('.');
                                            if(price_string.slice(dot_index, price_string.length).length != 3){
                                                price_string += '0';
                                                console.log('made change', price_string);
                                            }

                                            return price_string;
                                        }

                                        function changePrice() {
                                            //Check IDs 'topping' 'extra' 'extra_rice'
                                            {% if portion == 'dinner' %}
                                            let base_price = {{ selected_item['Base Price'] }};

                                            {% else %}

                                            let base_price = {{ selected_item['Lunch_Version']['Base Price'] }};

                                            {% endif %}

                                            //Test if the base price doesn't have 2 decimal places
                                            base_price = ensure_2_decimals(base_price);
                                            if(base_price.slice(base_price.length - 2, base_price.length) == '00'){
                                                console.log(base_price);
                                            } else {
                                                //If it doesn't have a double 00, convert back to int
                                                base_price = parseInt(base_price, 10);
                                            }

                                            //Parse the values for just the numeric value extra price
                                            let topping_elm, extra_elm, extra_rice_elm;

                                            try {
                                                topping_elm = document.getElementById('topping').value;
                                            } catch (err) {
                                                console.log(err);
                                                topping_elm = '0';
                                            }

                                            try {
                                                extra_elm = document.getElementById('extra').value;
                                            } catch (err) {
                                                console.log(err);
                                                extra_elm = '0';
                                            }
                                            try {
                                                extra_rice_elm = '$' + document.getElementById('extra_rice').value;
                                            } catch (err) {
                                                console.log(err);
                                                extra_rice_elm = '0';
                                            }

                                            let topping = parseExtraPrice(topping_elm);
                                            let extra = parseExtraPrice(extra_elm);
                                            let extra_rice = parseExtraPrice(extra_rice_elm);

                                            let cur_price = document.getElementById('the_price');

                                            let additional = topping + extra + (extra_rice * 2);
                                            //The cur_price updates to the new value, because the base_price is a float, we need to convert first
                                            cur_price.innerText = 'Price: ' + (parseInt(base_price, 10) + additional) + base_price.toString().slice(base_price.toString().length - 3, base_price.toString().length);
                                        }

                                        //Auto convert page price if missing decimals
                                        {% if portion == 'dinner' %}
                                        let page_price_int = {{ selected_item['Base Price'] }};

                                        {% else %}

                                        let page_price_int = {{ selected_item['Lunch_Version']['Base Price'] }};

                                        {% endif %}
                                        let page_price = document.getElementById('the_price');
                                        page_price_int = ensure_2_decimals(page_price_int);
                                        if(page_price_int.slice(page_price_int.length - 2, page_price_int.length) == '00'){
                                            console.log(page_price_int);
                                        } else {
                                            //If it doesn't have a double 00, convert back to int
                                            page_price_int = parseFloat(page_price_int, 10);
                                        }
                                        page_price.innerText = 'Price: ' + page_price_int;
                                    </script>
                                    <!--End price updater-->

                                    <!--customization starts here-->
                                    <div class="item-role px-2">
                                        <script>
                                            //Send the user to the lunch or dinner page
                                            //TODO: make this more dynamic so that if I change url design away from
                                            // /dinner and /lunch it will still work
                                            function changePortion(){
                                                let portion_page = document.getElementById('lunch_dinner');
                                                let cur_page = window.location.href;
                                                if(portion_page.value == 'Dinner'){
                                                    cur_page = cur_page.replace('/lunch', '/dinner')
                                                    window.location.replace(cur_page);
                                                } else if(portion_page.value == 'Lunch'){
                                                    cur_page = cur_page.replace('/dinner', '/lunch')
                                                    window.location.replace(cur_page);
                                                }
                                            }
                                        </script>
                                        {% if lunch_time %}
                                        Portion: <select name="lunch_dinner" id="lunch_dinner" onchange="changePortion();">
                                            {% if portion == 'dinner' %}
                                            <option value="Dinner">Dinner</option>
                                            <option value="Lunch">Lunch</option>
                                            {% else %}
                                            <option value="Lunch">Lunch</option>
                                            <option value="Dinner">Dinner</option>
                                            {% endif %}
                                        </select>
                                        <br><br>
                                        {% endif %}

                                        <form action="" method="POST" class="mbr-fonts-style display-6" id="food_entry">
                                            <input name="base" type="hidden" value="{{selected_item['Base']}}">

                                            {% if selected_item['Spice'] != False %}
                                            <!--Spice option-->
                                            Spice Level <select name="spice" id="spice">

                                                {% for spice_level in selected_item['Spice'] %}
                                                <option value="{{ spice_level }}">{{ spice_level }}</option>
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            {% endif %}

                                            {% if portion == 'dinner' %}

                                            {% if selected_item['Toppings'] != False %}
                                            <!--Topping option-->
                                            <!--Itemname, Extra Price-->
                                            <!-- Display "Chicken +$2" if extra price"-->
                                            With <select name="topping" id="topping" onchange="changePrice();">
                                                {% for topping in selected_item['Toppings'] %}
                                                <option value="{{ topping[0] }}{% if topping[1] != 0 %}+${{ topping[1] }}{% endif %}">{{ topping[0] }}{% if topping[1] != 0 %} +${{ topping[1] }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            {% endif %}

                                            {% else %}

                                            {% if selected_item['Lunch_Version']['Toppings'] != False %}
                                            <!--Topping option-->
                                            <!--Itemname, Extra Price-->
                                            <!-- Display "Chicken +$2" if extra price"-->
                                            With <select name="topping" id="topping" onchange="changePrice();">
                                                {% for topping in selected_item['Lunch_Version']['Toppings'] %}
                                                <option value="{{ topping[0] }}{% if topping[1] != 0 %}+${{ topping[1] }}{% endif %}">{{ topping[0] }}{% if topping[1] != 0 %} +${{ topping[1] }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                            <br><br>
                                            {% endif %}

                                            {% endif %}


                                            {% if selected_item['Extra'] != False %}
                                            <!--Topping option-->
                                            <!--Itemname, Extra Price-->
                                            <!-- Display "Chicken +$2" if extra price"-->
                                            Extra <select name="extra" id="extra" onchange="changePrice();">
                                                {% for extra in selected_item['Extra'] %}
                                                <option value="{{ extra[0] }}{% if extra[1] != 0 %}+${{ extra[1] }}{% endif %}">{{ extra[0] }}{% if extra[1] != 0 %} +${{ extra[1] }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                            <br><br>

                                            And <select id="extra_rice" name="extra_rice" onchange="changePrice();">
                                                <option value=0>0</option>
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                            </select> Extra Side(s) of Rice ($2 each)
                                            <br><br>
                                            {% endif %}

                                            <textarea name="custom_modify" rows="5" cols="20" placeholder="Exclusions, notes, etc."></textarea>

                                            <input type="hidden" id="modal-dest" name="modal-dest" value="to_cart">
                                            <input type="hidden" id="potion_type" name="portion_type" value="{{ portion }}">
                                        </form>
                                    </div>

                                </div>

                                <div class="mbr-section-btn text-center">
                                    <button class="btn btn-primary display-4" id="cart_button">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <!--END GRAY SECTION-->


    {% include 'universal-bottom.html' %}

    <script src="{{ url_for('checkout.static', filename='assets/web/assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/tether/tether.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/smoothscroll/smooth-scroll.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/dropdown/js/script.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/theme/js/script.js') }}"></script>
    <!--THIS HANDLES FORM SUBMISSION<script src="{{ url_for('checkout.static', filename='assets/formoid/formoid.min.js') }}"></script>-->



    <!-- Modal Style -->
    <style>
        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #333333;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        #to-menu {
            word-break: normal;
        }

        #to-cart {
            word-break: normal;
        }
    </style>

    <!-- The Modal -->
    <div id="submit_modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="modal-header">
                <span class="close">&times;</span>
            </div>

            <div class="modal-body">
                <div class="mbr-section-btn text-center">
                    <p class="mbr-text mbr-fonts-style display-5">Great Choice!</p>
                    <br>
                    <button href="" class="btn btn-primary display-4" id="to-menu">
                        Back To Menu
                    </button>
                    <button href="" class="btn btn-primary display-4" id="to-cart">
                        Proceed To Checkout
                    </button>
                </div>
            </div>
        </div>

    </div>


    <script>
        let to_cart = document.getElementById('to-cart');
        let to_menu = document.getElementById('to-menu');

        to_cart.onclick = function() {
            document.getElementById("modal-dest").value = "to_cart";
            document.getElementById('food_entry').submit();
        }

        to_menu.onclick = function() {
            document.getElementById("modal-dest").value = "to_menu";
            document.getElementById('food_entry').submit();
        }


        // Get the modal
        let modal = document.getElementById('submit_modal');

        let btn = document.getElementById('cart_button');

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            document.getElementById("modal-dest").value = "stay";
            document.getElementById('food_entry').submit();
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                document.getElementById("modal-dest").value = "stay";
                document.getElementById('food_entry').submit();
            }
        }

        function change_cart_before_post() {
            //Automatically changes cart price to give user sensation that page auto added to cart
            //since keeping modal showing while post request refreshes page is hard
            //IF THE WORDING OF THE CART ICON CHANGES, CHANGE THIS
            let cart_span = document.getElementById('cart_nav');
            let cart_text = cart_span.innerText;

            let final_price = document.getElementById('the_price').innerText;
            final_price = parseFloat(final_price.slice(7, final_price.length));

            if (cart_text.indexOf('$') == -1 ) {
                cart_span.innerHTML = '&nbsp;Cart 1, $' + final_price;
            } else {
                //Update total price count
                let total_price = cart_text.slice(cart_text.indexOf(',') + 3, cart_text.length);
                total_price = parseFloat(total_price)
                total_price += final_price
                total_price = Number((total_price).toFixed(2));
                total_price = total_price.toString();
                if (total_price[total_price.length - 2] == '.') {
                    total_price += '0';
                }

                //Update item count
                let cur_item_count = cart_text.slice(6, cart_text.indexOf(','));
                cur_item_count = parseInt(cur_item_count, 10);
                cur_item_count++;
                cart_span.innerHTML = '&nbsp;Cart ' + cur_item_count + ', $' + total_price;
            }
        }

        function show_modal() {
            //document.getElementById('food_entry').submit();
            modal.style.display = "block";
            change_cart_before_post();
            return false;
        }

        btn.onclick = show_modal;
    </script>

</body>

</html>