
{% block head %}
    <!--Dependencies-->
    <script src="{{ url_for('static', filename='tetris/libraries/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tetris/libraries/p5.sound.min.js') }}"></script>
    
    <!--Game Logic-->
    <script src="{{ url_for('static', filename='tetris/js/game_state.js') }}"></script>
    <script src="{{ url_for('static', filename='tetris/js/pieces.js') }}"></script>
    <script src="{{ url_for('static', filename='tetris/js/game_board.js') }}"></script>
    <!--Sketch-->
    <script src="{{ url_for('static', filename='tetris/js/sketch.js') }}"></script>
    
{% endblock %}
{% block content %}
    <div id="sketch-holder">
    <!-- p5.js sketch here -->
    </div>
    <form action="http://www.nickdima.com/lunchbreak">
        <input type="submit" value="Homepage">
    </form>
    <hr>
{% endblock %}

