{% block head %}
    <!--Dependencies: runs a lot faster than normal p5.js but doesn't have friendly error system-->
    <!--https://github.com/processing/p5.js/wiki/Optimizing-p5.js-Code-for-Performance-->
    <script src="{{url_for('static', filename='neuro_flappybird/libraries/p5.min.js)}}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--Game Logic-->
    <script src="{{url_for('static', filename='neuro_flappybird/js/matrix.js)}}"></script>
    <script src="{{url_for('static', filename='neuro_flappybird/js/brain.js)}}"></script>
    <script src="{{url_for('static', filename='neuro_flappybird/js/pipes.js)}}"></script>
    <script src="{{url_for('static', filename='neuro_flappybird/js/bird.js)}}"></script>
    <script src="{{url_for('static', filename='neuro_flappybird/js/evolution.js)}}"></script>
    <script src="{{url_for('static', filename='neuro_flappybird/js/sketch.js)}}"></script>
    
    <style>
        p{ margin-top: 0; margin-bottom: 0 }
    </style>
        
{% endblock %}
    
{% block content %}
    <form action="www.nickdima.com/lunchbreak">
        <input type="submit" value="Homepage">
    </form>
    <hr>
    
    <p id="generation">Generation: 0</p>
    <p id="best_distance">Best Distance: 0</p>
    <p id="avg_distance">Average Distance: 0</p>
    <p id="current_distance">Current Distance: 0</p>
    
    <div id="plot_avg" style="width:600px;height:250px;"></div>
    
    <div id="sketch-holder">
    <!-- p5.js sketch here -->
    </div>
    
    <p>The best bird from every generation will get a second chance at life, appearing as the golden bird in the next generation!</p>
    <h3>How it works:</h3>
    <h4>Neural networks combined with an evolutionary algorithm: neuro-evolution reinforcement learning</h4>
    <p>Every bird is given a neural-network filled with a random set of weights. These weights help the bird decide when to jump<br>
    by determining how important each input (a.k.a. feature) is. The birds are given 5 different inputs:<br>
    1) The x-distance to the nearest pipe<br>
    2) The y-position of the middle of the gap<br>
    3) The y-position of the bird<br>
    4) The current y-velocity of the bird<br>
    5) A static bias<br>
    <br>
    At the end of every generation, the birds are given a fitness score based on how far the bird traveled and go through a cross-over process.<br>
    The cross-over process makes the birds "mate" with each other and share information. The process goes as follows: for each layer in their neural<br>
    networks, weights are randomly swapped amongst 2 parents. The parents are chosen randomly, but higher fitness birds have a better chance<br>
    of being selected as a parent. Finally, the birds weights undergo a mutation process that can randomize any of their weights.<br>
    <br>
    Over time, the birds will more or less happen upon a fine-tuned set of weights and converge to an optimal solution!<br>
    <br>
    Note: Because this process is based heavily on the initial set of weights, try refreshing the browser if it's taking a very long time to get<br>
    better. Usually the birds will have found a good solution by generation 100!
    </p>
{% endblock %}
