
{% block head %}
    <!--Dependencies-->
    <script src="{{ url_for('static', filename='snake/libraries/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='snake/libraries/p5.sound.min.js') }}"></script>
    
    <!--Game Logic-->
    <script src="{{ url_for('static', filename='snake/js/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='snake/js/snake.js') }}"></script>
    <script src="{{ url_for('static', filename='snake/js/food.js') }}"></script>

    
{% endblock %}
{% block content %}
    <form action="http://www.nickdima.com/lunchbreak">
        <input type="submit" value="Homepage">
    </form>
    <hr>
    <div id="sketch-holder">
    <!-- p5.js sketch here -->
    </div>
{% endblock %}

