<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

	<!-- Table styling -->
	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 60%;
		    margin: 0 auto;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: center;
		    padding: 8px;
		}

		tr:nth-child(even) {
		    background-color: #dddddd;
		}
		</style>
</head>
<body>
	<button id="to_logout">Logout</button>
	<br>
	<br>
	You made it to the manage page
	<br>
	<br>
	Do your dirty work here
	<br>
	<br>
	<hr>
	<br>
	<br>
	<section id="ingredients">
		<table>
			<tr>
				<th>Ingredient</th>
				<th>Status</th>
				<th>Change</th>
			</tr>
			<tr>
				<td>Chicken</td>
				<td>Available</td>
				<td><button id='change_chicken'>Alter</button></td>
			</tr>
			<tr>
				<td>Beef</td>
				<td>Available</td>
				<td><button id='change_beef'>Alter</button></td>
			</tr>
			<tr>
				<td>Shrimp</td>
				<td>Unavailable</td>
				<td><button id='change_shrimp'>Alter</button></td>
			</tr>
		</table>
	</section>

	<section id="specific_items">

	</section>

	<section id="web_config">

	</section>


	<script>
		let logout_button = document.getElementById('to_logout');
		logout_button.onclick = function() {
			window.location.href="{{ url_for('admin.logout' )}}";
		}
	</script>
</body>
</html>