<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body>
	<button id="to_logout">Logout</button>
	<br>
	<br>
	You made it to the manage page
	<br>
	<br>
	Do your dirty work here
	<br>
	<br>
	<hr>
	<br>
	<br>
	<section id="ingredients">

	</section>

	<section id="specific_items">

	</section>


	<script>
		let logout_button = document.getElementById('to_logout');
		logout_button.onclick = function() {
			window.location.href="{{ url_for('admin.logout' )}}";
		}
	</script>
</body>
</html>