<section class="cid-qTkAaeaxX5" id="footer1-2">
    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="{{ url_for('homepage.home') }}">
                        <img src="{{ url_for('homepage.static', filename='assets/images/silk_thai_large.png') }}" alt="Silk Thai">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">2210 Fontaine Ave<br>Charlottesville VA, 22903</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: --PLACE HOLDER--
                    <br>Phone: (434) 977-8424<br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Hours
                </h5>
                <p class="mbr-text">Sun  11AM–9:30PM</p>
                <p class="mbr-text">Mon  11AM–9:30PM</p>
                <p class="mbr-text">Tue  11AM–9:30PM</p>
                <p class="mbr-text">Wed  11AM–9:30PM</p>
                <p class="mbr-text">Thu  11AM–9:30PM</p>
                <p class="mbr-text">Fri  11AM–10:30PM</p>
                <p class="mbr-text">Sat  11AM–10:30PM</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">Digital Menu <a href="{{ url_for('homepage.static', filename='assets/images/menu_full.jpg') }}">Click</a><br></p>
                <p class="mbr-text">Created by <a href="https://www.linkedin.com/in/nicholas-dima-975070115/">Nick Dima</a><br></p>
            </div>
            <div class="charlottesville">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142.9100175649683!2d-78.51731454833019!3d38.02587717961492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b38660b203964d%3A0xa8820769c38e106!2s2210+Fontaine+Ave%2C+Charlottesville%2C+VA+22903!5e0!3m2!1sen!2sus!4v1528226085788" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <!--
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>

            <div class="media-container-row mbr-white">
                <<div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2017 Mobirise - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</section>