<!DOCTYPE html>
<html>

<head>
    {% include 'universal.html' %}
    <meta name="description" content="Site Creator Description">
    <title>Order Summary</title>
    {% include 'universal-css-links.html' %}
</head>

<body>
    <!--Navigation bar-->
    {% include 'nav.html' %}
    <!--End navigation bar-->

    <section class="features16 cid-r0R1Wm1xUa" id="features16-i">

        <div class="container align-center">
            <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
                We are currently not accepting new online orders, check back soon. If you have already submitted your order, it will be prepared for you as normal.
                
                Our apologies for this inconvenience!
            </h2>

        </div>
    </section>


    {% include 'universal-bottom.html' %}

    <script src="{{ url_for('checkout.static', filename='assets/web/assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/tether/tether.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/smoothscroll/smooth-scroll.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/dropdown/js/script.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
    <script src="{{ url_for('checkout.static', filename='assets/theme/js/script.js') }}"></script>

</body>

</html>