{% extends 'checkout/order_parent.html' %}

{% block title %}Order Checkout{% endblock %}
{% block body %}
<section class="mbr-section form3 cid-r0R3r9oDVn" id="form3-j">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    Payment Details</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Items: {{ item_count }}
                    <br>
                    Subtotal: ${{ subtotal }}
                    <br>
                    Tax: {{ tax_total }}
                    <br>
                    Total Price: {{ total_with_tax }}
                    <br>
                    Order Type: {{ order_type }}
                </h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="container align-center">
                <form action="{{ url_for('checkout.summary') }}" method="post">

                    <p class="mbr-fonts-style display-5">
                        Credit Card Info
                        -need to verify this stuff
                        -#
                        -cvv
                        -expiration
                    </p>
                    <p class="mbr-fonts-style display-5">
                        Customer Info
                        -if delivery-address
                        -email-
                        -phone #-
                    </p>
                    <p class="mbr-fonts-style display-5">
                    	Tip
                    	-change tip price on html immediately (but include in form submission)
                    </p>

                    <button href="" type="submit" class="btn btn-primary display-4">{% if is_currently_open == true %}Submit Order{% else %}We Are Currently Closed{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}