<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.1, https://mobirise.com -->
  {% include 'universal.html' %}
  <meta name="description" content="Site Creator Description">
  <title>Checkout Page</title>
  {% include 'universal-css-links.html' %}
</head>
<body>
 <!--Navigation bar-->
{% include 'nav.html' %}
<!--End navigation bar-->

<section class="engine"><a href="https://mobiri.se/o">portfolio web templates</a></section><section class="features16 cid-r0R1Wm1xUa" id="features16-i">



    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            Your Order</h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">Make Any Edits Here To Quantity Before Checkout</h3>
        <div class="row media-row">

          {% for item in items %}
          <div class="team-item col-lg-3 col-md-6">
                  <div class="item-image">
                      <img src="{{ url_for('food.static', filename=item['Img_url']) }}" alt="" title="">
                  </div>
                  <div class="item-caption py-3">
                      <div class="item-name px-2">
                          <p class="mbr-fonts-style display-5">
                             {{item['Title']}} with {{item['Topping'][0]}}</p>
                          <p class="mbr-fonts-style display-6">
                             Spice: {{item['Spice']}}</p>
                          {% if item['Extra'] is not False %}
                          <p class="mbr-fonts-style display-6">
                             Extra: {{item['Extra'][0]}}</p>
                          {% endif %}
                          {% if item['Extra_Rice'] != '0' %}
                          <p class="mbr-fonts-style display-6">
                             Extra Rice: {{item['Extra_Rice']}}</p>
                          {% endif %}
                          {% if item['Notes'] is not False %}
                          <p class="mbr-fonts-style display-6">
                             Notes: {{item['Notes']}}</p>
                          {% endif %}
                      </div>
                      <div class="item-role px-2">
                          <p>Price: ${{ item['Total'] }}</p>
                      </div>

                  </div>
              </div>
          {% endfor %}

          <!--NEED ONE OF THESE FOR ALL IMAGES BEING DISPLAYED
        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/drunken-noodle-510x383.jpg" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Item 1</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Price: &lt;&gt;</p>
                    </div>

                </div>
            </div>

            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/pad-see-ew-510x383.jpg" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Item 2</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Price: &lt;&gt;</p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/yellow-curry2-510x724.jpg" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Item 3</p>
                    </div>
                    <div class="item-role px-2">
                        <p>Price: &lt;&gt;</p>
                    </div>

                </div>
            </div></div>
            
            -->

    </div>
</section>

<section class="mbr-section form3 cid-r0R3r9oDVn" id="form3-j">





    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    Order Details</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Items: &lt;&gt;<br>Total Price: &lt;&gt;</h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">the order page was submitted</div>
                <form class="mbr-form" action="{{ url_for('checkout.summary') }}" method="post" data-form-title="Mobirise Form"><!--<input type="hidden" name="email" data-form-email="true" value="705DbCTbf81Lwv4tQcqg+WZp2p4fzU7WHcXa1wmByg5evmxi+pH7k7f2OsFKHR79s/ck1GlFHoIouzX+ahXvnMeeXLzNJgAdQjdBTY0quIlRUSsDHuX5jAYZ7l3UDPOu" data-form-field="Email">-->
                    <div class="mbr-subscribe input-group">
                        <!--<input class="form-control" type="email" name="email" placeholder="Name" data-form-field="Email" required="" id="email-form3-j">-->
                        <input type="hidden" name="item1" value="thai currey">
                        <input type="hidden" name="item2" value="thai tea">
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-primary display-4">Submit Order</button></span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% include 'universal-bottom.html' %}

  <script src="{{ url_for('checkout.static', filename='assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/tether/tether.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/smoothscroll/smooth-scroll.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/touchswipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ url_for('checkout.static', filename='assets/theme/js/script.js') }}"></script>
  <!--THIS HANDLES FORM SUBMISSION<script src="{{ url_for('checkout.static', filename='assets/formoid/formoid.min.js') }}"></script>-->


</body>
</html>
